.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 2%;
}
.menu div {
  width: 50%;
}
.menu h2 {
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 2.8rem;
  color: rgb(114, 62, 49);
}
.menu p {
  text-align: center;
  padding: 2% 3%;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.background {
  background-image: url(background-menu-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  padding: 5%;
  height: 40vh;
  background-color: rgb(114, 62, 49);
}
.background2 {
  background-image: url(background-menu-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  padding: 5%;
  height: 40vh;
  background-color: rgb(114, 62, 49);
}
.background2 {
  background-image: url(background-menu-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  padding: 5%;
  height: 40vh;
  background-color: rgb(114, 62, 49);
}
.background3 {
  background-image: url(background-menu-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  padding: 5%;
  height: 40vh;
  background-color: rgb(114, 62, 49);
}
.background h2,
.background2 h2,
.background3 h2 {
  font-family: "Yeseva One", cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: white;
}
table {
  width: 98%;
  margin: 4% 2%;
}
th {
  text-align: left;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(114, 62, 49);
  padding: 1%;
}
td {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding: 1%;
}
td span {
  padding-left: 5%;
  font-weight: 400;
}
@media only screen and (max-width: 1204px) {
  .menu {
    flex-direction: column;
  }
  .menu div {
    width: 100%;
  }
  .menu h2 {
    font-size: 2.4rem;
  }
  .menu p {
    font-size: 1rem;
  }
  .background,
  .background2,
  .background3 {
    padding: 15%;
    height: 40vh;
  }
  th {
    text-align: center;
    font-size: 1.8rem;
  }
  td {
    text-align: center;
    font-size: 0.8rem;
  }
  td span {
    display: block;
  }
}
