@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(body-background.jpg);
}
header {
  background-image: url(header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  background-color: rgb(176, 154, 125);
  background-attachment: fixed;
}
.nav {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 0px 15px;
}
ul li a {
  transition: all 400ms ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
ul li a:hover {
  color: rgb(114, 62, 49);
}

.logo {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 2.8rem;
  color: white;
}
.section1 {
  display: flex;
  margin: 2%;
  align-items: center;
}
.section1 div {
  width: 50vw;
}
.section1 img {
  width: 100%;
}
.section1 h2 {
  font-family: "Yeseva One", cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.section1 h2 span {
  color: rgb(114, 62, 49);
}
.section1 p {
  text-align: center;
  padding: 3% 4%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
.btn a {
  margin: auto;
  width: fit-content;
  padding: 2%;
  border: none;
  font-size: 1.2rem;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 400ms ease-in-out;
  color: rgb(244, 247, 252);
  text-decoration: none;
  background: rgb(114, 62, 49);
}
.btn a:hover {
  background-color: transparent;
  color: rgb(114, 62, 49);
}
.section2 {
  background-image: url(qt-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  padding: 5%;
  height: 40vh;
  background-color: rgb(114, 62, 49);
}
.section2 .quote {
  text-align: center;
  font-size: 2.7rem;
  color: white;
  font-weight: bold;
}
.section2 .caption {
  padding-top: 2%;
  padding-left: 20%;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.section3 {
  margin: 2%;
}
.section3 h1 {
  text-align: center;
  margin: 2% 0;
  font-size: 3rem;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 3%;
}
.grid div {
  width: 30vw;
}
.grid img {
  border-radius: 10px;
  width: 100%;
  transition: transform 400ms ease-in-out;
}
.grid img:hover {
  transform: scale(1.1);
}
footer {
  margin-top: 5%;
  padding: 1% 2%;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(114, 62, 49);
}
footer a {
  text-decoration: none;
  color: rgb(114, 62, 49);
  transition: all 400ms ease-in-out;
}
footer a:hover {
  color: black;
}
footer p {
  padding-top: 1%;
}
footer .copy {
  text-align: center;
}
.small_screen {
  display: none;
}
.logo_small {
  display: none;
}
#menu_logo {
  display: none;
}
hr {
  width: 90%;
  margin: auto;
  background-color: rgb(114, 62, 49);
}
@media only screen and (max-width: 1204px) {
  .nav {
    display: none;
  }
  .forsmallscreen {
    padding: 2% 4%;
  }
  .logo_small {
    display: inline-block;
    text-align: center;
    font-family: "Yeseva One", cursive;
    font-weight: 400;
    font-size: 2.8rem;
    color: rgb(114, 62, 49);
    padding-left: 20%;
  }
  #menu_logo {
    cursor: pointer;
    display: inline-block;
  }
  .small_screen {
    background-color: rgba(114, 62, 49, 0.622);
    display: none;
    transition: all 400ms ease-out;
    padding-left: 3%;
  }

  .small_screen li {
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: all 400ms ease-out;
  }
  .small_screen li:hover {
    color: rgb(114, 62, 49);
  }
  .blue {
    display: block;
    transition: all 400ms ease-out;
  }
  .section1 {
    flex-direction: column;
    margin: 2% 4%;
  }
  .section1 div {
    width: 94vw;
  }
  .section1 h2 {
    font-size: 2rem;
  }
  .section1 p {
    font-size: 1rem;
  }
  .section2 {
    padding: 10%;
    height: 50vh;
  }
  .section2 .quote {
    font-size: 2rem;
  }
  .section2 .caption {
    font-size: 1.5rem;
  }
  .section3 h1 {
    font-size: 2rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 1%;
  }
  .grid div {
    width: 46vw;
  }
  .grid img:hover {
    transform: scale(1);
  }
  footer {
    margin-top: 10%;
    font-size: 1.2rem;
  }
  footer p {
    padding-top: 2%;
  }
}
@media only screen and (max-width: 600px) {
  .logo_small {
    padding-left: 10%;
  }
}
